.shop-button{
    font-family: $title-font;
    padding: 9px 20px;
    font-size: 16px;
    color: $boutique-color;
    text-decoration: none;
}

.expo-button{
    font-family: $title-font;
    padding: 9px 20px;
    font-size: 16px;
    color: $expo-color;
    text-decoration: none;
}

.collec-button{
    font-family: $title-font;
    padding: 9px 20px;
    font-size: 16px;
    color: $collection-color;
    text-decoration: none;
}

.visit-button{
    font-family: $title-font;
    padding: 9px 20px;
    font-size: 16px;
    color: $visite-color;
    text-decoration: none;
}

.image-arrow {
  max-width: 18px;
  width: 100%;
}
