.expo-div{
  width: 45px;
  height: 10px;
  background-color: $expo-color;

}
.collec-div{
  width: 45px;
  height: 10px;
  background-color: $collection-color;

}
.boutique-div{
  width: 45px;
  height: 10px;
  background-color: $boutique-color;

}
.visite-div{
  width: 45px;
  height: 10px;
  background-color: $visite-color;

}

p{
  padding-bottom: 3px;
}

.newsinput {
  padding-bottom: 8px;
  border-radius: 8px;
}

.newstxt p {
  padding-bottom: 10px;
  border-radius: 8px;
}
