///////////////////////////variables////////////////////////

@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Roboto');

//color//

$expo-color: #EB2A2A;
$visite-color: #E0B90D;
$collection-color: #72BE37;
$boutique-color: #36998A;
$background-color: #F6F6F6;

//font//

$main-font: 'Playfair Display', serif;
$title-font: 'Roboto', sans-serif;

//

////////////////////////////////////////////////////////////
